projekt1/projekt/wynajmy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:simpleType name="oplataType"> 
    <xs:restriction base="xs:decimal"> 
      <xs:fractionDigits value="2"/> 
    </xs:restriction> 
  </xs:simpleType> 
    
    <xs:complexType name="wynajemType">
		<xs:choice>
			<xs:sequence>
				<xs:element type="xs:date" name="poczNajmu"/>
				<xs:element type="xs:date" name="konNajmu"/>
				<xs:element type="oplataType" name="oplata"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element type="xs:duration" name="czasNajmu"/>
				<xs:element type="oplataType" name="oplata"/>
			</xs:sequence>
		</xs:choice>
		<xs:attribute type="xs:integer" name="nrPokoju" use="optional"/>
		<xs:attribute type="xs:integer" name="idOsoby" use="optional"/>
	</xs:complexType>
	
	<xs:complexType name="wynajmyType">
		<xs:sequence>
		  <xs:element type="wynajemType" name="wynajem" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
