lab7/lab7/kasety3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:complexType name="kasetaType">
    <xs:sequence>
      <xs:element type="xs:string" name="tytul"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="typ"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="kasetyType">
    <xs:sequence>
      <xs:element type="kasetaType" name="kaseta" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
